h1 {
    text-align:center;
    color: #e1e5df;
}
#main {

    width:960px;
    margin:50px auto;
    font-family:raleway;

}
h2 {
    background-color:#FEFFED;
    text-align:center;
    border-radius:10px 10px 0 0;
    margin:-10px -40px;
    padding:15px;
}
#login {
    width:300px;
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:70px;
    margin: 5% auto;
    background-color: #FEFFED;
}

input[type=text],input[type=password] {
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:raleway;
}
input[type=submit] {
    width:100%;
    background-color:#ffa500;
    color:#fff;
    border:2px solid #ffa500;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin:15px 0 15px 5px;
    height:100%;
}
input[type=button] {
    width:100%;
    background-color:#5F5F5F;
    color:#fff;
    border:2px solid #5F5F5F;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin:15px 0 15px 5px;
}